@using X.PagedList
@model X.PagedList.IPagedList<InstagramDataWebApp.Models.InstagramRelationship>
@{
    ViewData["Title"] = "Followers";
}
<div class="row">
    <div class="col">
        <h2 class="mb-4">Followers</h2>

        <form id="searchForm" method="get" class="mb-4">
            <div class="input-group">
                <input type="text" name="searchTerm" value="@ViewBag.SearchTerm" class="form-control" placeholder="Search followers by username..." />
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>

        <div id="followersContainer">
            <partial name="_FollowersList" model="Model" />
        </div>

    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function() {
            $('#searchForm').submit(function (e) {
                e.preventDefault();
                loadFollowers($(this).serialize());
            });

            $('#followersContainer').on('click', '.pagination a', function (e) {                
                e.preventDefault();
                var query = $(this).attr('href').split('?')[1];
                loadFollowers(query);
            });

            function loadFollowers(query) {
                $.ajax({
                    url: '@Url.Action("Followers", "InstagramData")',
                    data: query,
                    type: 'GET',
                    success: function(result) {
                        $('#followersContainer').html(result);
                    },
                    error: function(xhr, status, error) {
                        alert("Error loading data: " + error);
                    }
                });
            }
        });
    </script>
}
